# Data Science Tools and Ecosystem

## Author
Sophia Mobley

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use
- List libraries commonly used by Data Scientits
- List tools commonly used by Data Scientists

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. Pandas
4. MatPlotLib
5. SciPi

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335